@import "~ant-design-vue/dist/antd.less";

* {
  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background: #08023a;
  }

  &::-webkit-scrollbar-track-piece {
    background: #2f0651;
  }

  touch-action: pan-y;
}

@primary-color: #f38031; // 全局主色
@link-color: #f38031; // 链接色
