@import "~ant-design-vue/dist/antd.less";

* {
  &::-webkit-scrollbar {
    width: 9px;
    height: 9px;
  }

  &::-webkit-scrollbar-thumb {
    background: #08023a;
  }

  &::-webkit-scrollbar-track-piece {
    background: #2f0651;
  }

  touch-action: pan-y;
}

@primary-color: #f38031; // 全局主色
@link-color: #f38031; // 链接色

.ant-select:not(.ant-select-customize-input) .ant-select-selector {
  background-color: #2e3057 !important;
  border: none;
  color: white;
  height: 70px;
  padding: 20px 40px;
  font-size: 28px;
}
.ant-select-dropdown {
  background-color: #2e3057;
  color: white;
}
.ant-select-item-option {
  color: white;
  height: 70px;
  padding: 20px 40px;
  font-size: 28px;
}
.ant-select-item-option-active {
  color: white;
  background-color: #1d1e3b !important;
}

.ant-select-arrow {
  font-size: 24px;
  color: white;
  top: 44%;
  right: 36px;
}

.ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
  color: rgb(255, 255, 255);
}

.ant-drawer-wrapper-body,
.ant-drawer-header,
.ant-drawer-title,
.ant-drawer-body {
  background-color: #2e2f41 !important;
  border: none;
  font-size: 26px;
  color: rgba(255, 255, 255, 0.65);
  padding: 16px 10px;
}

.ant-drawer-header {
  border-bottom: 2px solid #4c4d6b;
}

.ant-drawer-title {
  font-size: 32px;
}

.ant-drawer-body {
  padding: 20px;
}

.ant-radio-inner {
  width: 20px;
  height: 20px;
}
