@import "~ant-design-vue/dist/antd.less";

* {
  &::-webkit-scrollbar {
    width: 9px;
    height: 9px;
  }

  &::-webkit-scrollbar-thumb {
    background: #cfcece;
  }

  &::-webkit-scrollbar-track-piece {
    background: #eeeeee;
  }

  touch-action: pan-y;
}

@primary-color: #f38031; // 全局主色
@link-color: #f38031; // 链接色

.ant-input {
  background-color: #2e3057;
  border: none;
  height: 35px;
  border: 0.5px solid rgba(53, 201, 255, 0.2);
  color: rgba(255, 255, 255, 0.65);
  &::placeholder {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.65);
  }
}
.ant-select:not(.ant-select-customize-input) .ant-select-selector {
  background-color: #2e3057 !important;
  border: none;
  color: white;
}
.ant-select-dropdown {
  background-color: #2e3057;
  color: white;
}
.ant-select-item-option {
  color: white;
}
.ant-select-item-option-active {
  background-color: #1d1e3b !important;
}
.ant-drawer-wrapper-body,
.ant-drawer-header,
.ant-drawer-title,
.ant-drawer-body {
  background-color: #2e2f41 !important;
  border: none;
  color: rgba(248, 239, 239, 0.65);
}

.actived {
  color: rgb(107, 107, 141);
}
