.color-1 {
  color: rgba(255, 255, 255, 0.65);
}

.color-2 {
  color: white;
  font-size: 18px;
}

.color-3 {
  color: #ffcc17;
  font-size: 15px;
}

.font-24 {
  font-size: 12px;
}

.font-36 {
  font-size: 18px !important;
}

.m36 {
  margin: 18px auto 58px auto;
}

.mobile-wrap {
  box-sizing: border-box;
  width: 100vw;
  min-height: 100vh;
  background-image: url("/img/mobile_bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 1px;

  header {
    position: sticky;
    top: 0;
    left: 0;
    height: 50px;
    padding: 0 17px;
    color: white;
    font-size: 16px;
    display: flex;
    z-index: 2;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);

    .logo {
      width: 75px;
    }

    .line {
      width: 32px;
      cursor: pointer;
    }
  }

  section {
    margin: 32px auto 40px auto;

    .title {
      color: white;
      text-align: center;
      font-size: 24px;
      font-weight: 600;
    }

    .data-box {
      width: 86vw;
      padding: 20px;
      background: rgba(36, 50, 100, 0.6);
      backdrop-filter: blur(3px);
      margin: 24px auto 30px auto;
      border: 0.5px solid;
      border-image-slice: 1;
      color: white;
      font-size: 13px;
      border-image-source: linear-gradient(
        92.7deg,
        #a310fe 10.86%,
        #19ee48 101.11%
      );

      .data-box-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 9px 0;

        .icon {
          width: 26px;
        }
      }

      .line {
        width: 100%;
        height: 0;
        margin: 12px auto;
        border: 1px solid rgba(255, 255, 255, 0.15);
      }

      .copy-text {
        font-size: 10px;
        color: rgba(255, 255, 255, 0.65);
        margin: 12px 0px;
      }

      .copy-box {
        width: 100%;
        height: 36px;
        background: rgba(255, 255, 255, 0.15);
        border-radius: 2px;
        display: flex;
        align-items: center;
        padding: 2px 6px;

        .copy-url {
          width: 80%;
          font-weight: 400;
          font-size: 12px;
          color: rgba(255, 255, 255, 0.65);
          flex: none;
          order: 0;
          flex-grow: 1;
          overflow: hidden;
        }

        .copy-line {
          width: 10px;
          height: 0px;
          border: 1px solid #eff0f1;
          transform: rotate(90deg);
          flex: none;
          order: 1;
          flex-grow: 0;
          margin: 0px 10px;
        }

        .copy-img {
          width: 20px;
          order: 1;
          flex-grow: 0;
        }
      }

      .data-table {
        margin: 6px auto;

        &-header {
          height: 40px;
          background: #192745;
          font-size: 10px;
          color: rgba(255, 255, 255, 0.65);
          display: flex;
          justify-content: center;
          align-items: center;

          div {
            width: 35%;
            padding-left: 10px;
          }

          .action {
            text-align: center;
            padding-left: 0;
          }
        }

        &-body {
          height: 250px;
          overflow: auto;

          .content {
            height: 56px;
            background: #2e3b55;
            display: flex;
            align-items: center;
            font-size: 20px;
            padding: 12px 8px;
            border-bottom: 1px solid rgba(53, 201, 255, 0.2);

            &-data {
              width: 35%;
            }

            &-data > div {
              width: 150px;
              display: flex;
              flex-wrap: wrap;
              align-items: center;
              font-size: 9px;
              line-height: 2;
              font-weight: 400;
              // transform: scale(0.95);

              .label {
                color: rgba(255, 255, 255, 0.85);
              }
            }

            &-action {
              width: 100px;
              text-align: center;

              .sell-button {
                width: 60px;
                height: 22px;
                font-size: 10px;
                background: linear-gradient(
                  90.87deg,
                  #f18a2b -41.78%,
                  #ffef5e 100%
                );
                box-shadow: 0px 3px 16px rgba(255, 220, 98, 0.5);
              }
            }
          }
        }
      }
    }

    .data-form {
      .ant-radio-group {
        display: flex;
      }

      .ant-radio-wrapper {
        display: flex;
        align-items: center;
      }

      .form-tip {
        font-size: 12px;
        color: white;

        span {
          color: #ffcc17;
        }

        .form-tip-num {
          font-size: 20px;
          font-weight: 600;
        }

        &-1 {
          font-size: 12px;
          color: rgba(255, 255, 255, 0.85);

          span {
            color: white;
          }

          .form-tip-num {
            font-size: 20px;
            font-weight: 600;
          }
        }
      }

      .place-order-button {
        height: 40px;
        font-size: 16px;
        background: linear-gradient(90.87deg, #f18a2b -41.78%, #ffef5e 100%);
        box-shadow: 0px 3px 12px rgba(255, 220, 98, 0.5);
      }
    }
  }

  .block {
    width: 60px;
    height: 36px;
    background: #0e1039;
    color: rgba(255, 255, 255, 0.85);
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px 1px 1px 0px;
  }
}

.ant-input {
  background-color: #2e3057;
  height: 36px;
  border: 1px solid rgba(53, 201, 255, 0.2);
  color: rgba(255, 255, 255, 0.65);

  &::placeholder {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.65);
  }
}
